absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiokafka==0.11.0
aiosignal==1.3.1
alembic==1.8.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==3.6.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.1.0
azure-core==1.31.0
azure-identity==1.19.0
Babel==2.10.3
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.8.2
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.5.0
certifi==2026.2.25
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.3
cloudpickle==2.2.1
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
comm==0.2.2
conda==4.12.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/0cf65687-72c2-4e51-5322-1b3a8c3aa6f5/volume/conda-package-handling_1649105815927/work
cryptography @ file:///opt/concourse/worker/volumes/live/a9ca20dd-e1fe-4ed3-754e-0db64082a5d2/volume/cryptography_1639414576087/work
cycler==0.11.0
databricks-sdk==0.32.3
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
discord==2.3.2
discord.py==2.4.0
distro==1.9.0
Django==4.1.3
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-six==1.0.4
docker==7.1.0
entrypoints==0.4
executing==1.0.0
faiss-cpu==1.13.0
fastapi==0.109.2
fastjsonschema==2.16.1
filelock==3.19.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.33.3
frozenlist==1.4.1
fsspec==2025.10.0
gast==0.6.0
gevent==24.2.1
geventhttpclient==2.0.2
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.66.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hf-xet==1.3.1
hpack==4.0.0
httpcore==1.0.6
httptools==0.6.1
httpx==0.27.2
huggingface_hub==0.36.2
hyperframe==6.0.1
idna==3.11
importlib-resources==5.13.0
importlib_metadata==8.4.0
ipinfo==5.1.1
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.18.1
Jinja2==3.1.6
joblib==1.5.3
json5==0.9.10
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.1
jupyterlab_widgets==3.0.13
keras==3.7.0
kiwisolver==1.4.3
libclang==18.1.1
lxml==4.9.1
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.5.2
matplotlib-inline==0.1.6
mdurl==0.1.2
microsoft-kiota-abstractions==1.4.0
microsoft-kiota-authentication-azure==1.1.0
microsoft-kiota-http==1.3.4
microsoft-kiota-serialization-form==0.1.1
microsoft-kiota-serialization-json==1.3.3
microsoft-kiota-serialization-multipart==0.1.0
microsoft-kiota-serialization-text==1.0.0
mistune==2.0.4
mkl-fft @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_af8wl3mjfu/croot/mkl_fft_1695058185839/work
mkl-random @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_0fq2s894lk/croot/mkl_random_1695059822529/work
mkl-service==2.4.0
ml-dtypes==0.3.2
mlflow==2.16.2
mlflow-skinny==2.16.2
mlserver==1.4.0
mlserver-mlflow==1.6.1
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msgraph-core==1.1.5
msgraph-sdk==1.10.0
multidict==6.1.0
namex==0.0.8
nbclassic==0.4.3
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
nest-asyncio==1.5.5
networkx==3.2.1
notebook==6.4.12
notebook-shim==0.1.0
numpy==2.0.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation-grpc==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.7
packaging==26.0
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pendulum==3.0.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.3.0
portalocker==2.10.1
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==4.25.5
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-grpc-prometheus==0.8.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.8.2
pydantic-settings==2.5.2
pydantic_core==2.20.1
Pygments==2.13.0
PyJWT==2.7.0
PyMySQL==1.1.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.9
python-rapidjson==1.14
pytz==2022.1
PyYAML==6.0.3
pyzmq==23.2.1
regex==2026.1.15
requests==2.32.5
rich==13.8.1
rsa==4.9
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.13.1
screen==1.0.1
secure==0.3.0
Send2Trash==1.8.0
sentence-transformers==5.1.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.35
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.18
sqlparse==0.4.3
stack-data==0.5.0
starlette==0.36.3
starlette_exporter==0.23.0
std-uritemplate==1.0.6
sympy==1.14.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.15.0
threadpoolctl==3.6.0
time-machine==2.16.0
tinycss2==1.1.1
tokenizers==0.22.2
tomli==2.0.1
torch==2.2.2
tornado==6.2
tqdm==4.67.3
traitlets==5.4.0
transformers==4.57.6
tritonclient==2.42.0
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.6.3
uvicorn==0.30.6
uvloop==0.20.0
watchfiles==0.24.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
websockets==13.0.1
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.16.0
xlwt==1.3.0
yarl==1.11.1
zenml==0.66.0
zipp==3.8.1
zope.event==5.0
zope.interface==7.0.3
